@mixin link {
  color: white;
  text-decoration: none;

  &:hover {
    color: peachpuff;
  }
}

@mixin button {
  background-color: var(--input-background);
  color: var(--text-color-dark);
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 8px;
}

@mixin font-md {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@mixin font-lg {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
