DATABASE_URL=postgresql://admin_user:admin@localhost:5432/admin_panel?schema=public
JWT_SECRET=my_super_secret_key
PAASSWORD_SALT=my_salt_for_password_hashing
FRONTEND_URL=http://localhost:8000
PORT=3000