.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button {
    @include button;
  }

  .info {
    height: 20px;
  }

  .success {
    height: 20px;
    color: var(--text-color-success);
  }

  .error {
    height: 20px;
    color: var(--text-color-error);
  }
}
