.page {
  padding: 20px;

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      padding: 16px 22px;
      border: 1px solid var(--border-color-dark);
      border-radius: 8px;
      max-width: 600px;

      .link {
        @include link;
        @include font-md;
      }
    }
  }
}
