.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--sidebar-width-open) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar page';

  .page {
    grid-area: page;
    padding: 20px;
  }
}
